# то, что сервер создаёт сам
maps/
plugins/
.listcache
log/

# сами паки, они у каждого свои
client_packages/game_resources/dlcpacks/**/*.rpf
client_packages/game_resources/dlcpacks/**/*.oiv

# доки держим локально
README.md
ИНСТРУКЦИЯ.md
